export TM_HOME_DIR="<this project source root directory>"
export TM_BOOK_DIR="$TM_HOME_DIR/tests/books"
export TM_COMICS_DIR="$TM_HOME_DIR/tests/comics"
export TM_FRONTEND_URL="<your service endpoint>"
export TM_BACKEND_PORT="<your backend API port>"

export TM_ES_URL="<your elastic search endpoint>"
export TM_ES_BOOK_INDEX="<your elastic search book index name>"
export TM_ES_COMICS_INDEX="<your elastic search comics index name>"
export TM_ES_USER="<your elastic search user>"
export TM_ES_PASSWORD="<your elastic search password>"

export PYTHONPATH="$TM_HOME_DIR"