text/_djvu
text/_doc
text/_epub
text/_html
text/_hwp
text/_image
text/_pdf
text/_rtf
text/_txt
text/_sub5
text/_sub6
text/cat1_sub1
text/cat1_sub2
text/cat2_sub3
text/cat2_sub4
text/testdata
text/testdata2
text/testdata3
backend/.env
frontend/.env
frontend/.env.development
frontend/.env.production
