.preview_cache

backend/.env
backend/*.pid
backend/nohup.out
backend/run.log*
backend/__pycache__

utils/run.log*
utils/__pycache__

frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/coverage

node_modules/

.python-version
.env
run.log*
__pycache__
.dependency_cache
.last_test_success
.test_performance_cache
.claude*
.last_test_run
.vagrant
Vagrantfile
.coverage
