anyio==3.6.2
astroid==2.12.13
asyncio==3.4.3
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
chardet==5.1.0
click==8.1.3
dill==0.3.6
EbookLib==0.18
elasticsearch7==7.17.9
fastapi==0.95.1
fastapi-utils==0.2.1
greenlet==2.0.2
h11==0.14.0
idna==3.4
inotify==0.2.10
isort==5.10.1
lazy-object-proxy==1.8.0
lxml==4.9.2
mccabe==0.7.0
mypy==0.990
mypy-extensions==0.4.3
nose==1.3.7
platformdirs==2.5.4
pycryptodome==3.17
pydantic==1.10.7
pyflakes==2.5.0
pylint==2.15.6
PyMySQL==1.0.3
PyPDF2==3.0.1
pyth3==0.7
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2023.3
refurb==1.7.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.48
starlette==0.26.1
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
tzlocal==5.0.1
urllib3==1.26.15
uvicorn==0.22.0
wrapt==1.14.1
