div#dir_list { border-width: thin; border-color: #ddd; border-style: solid; border-collapse: collapse; }
.rstm-tree-item { padding-top: 0px !important; padding-bottom: 0 !important; font-size: small; }
.rstm-tree-item-level0 { padding-left: 0px !important; }
.rstm-tree-item-level1 { padding-left: 30px !important; }
.rstm-tree-item-level2 { padding-left: 60px !important; }
.rstm-toggle-icon-symbol { line-height: 1rem !important; height: 1rem !important; }