#edit {
    margin-left: 0;
    margin-right: 0;
}

#edit * {
    font-size: small;
}

#edit .btn-xs {
    padding: 0.05rem 0.15rem;
    font-size: 0.6rem;
}

#edit .btn-md {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
}

#edit .directory-menu {
    height: calc(100vh - 80px);
    overflow-y: auto;
    position: sticky;
    top: 0;
}
