#edit {
    margin-left: 0;
    margin-right: 0;
}

#edit * {
    font-size: small;
}

#edit .directory-menu {
    height: calc(100vh - 80px);
    overflow-y: auto;
    position: sticky;
    top: 0;
}
